html,
body,
header{
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden;  */
}
html{
    scroll-behavior: smooth;
}

#intro{
    height: 100%;
    background-position: 50% 50%;
    background: url("../img/bg_register.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    justify-content: center;
    display: grid;
    grid-template-rows: (3,1fr);

    /* grid-auto-rows: (300px); */
    

    grid-template-areas: 

    ". . ."
    ". a ."
    ". . ."
    ;
}
.content{
    grid-area: a;
    align-self: center;
    justify-self: centere;
    text-align: center;
}
