html,
body,
header,
#intro{
    height: 100%;
}

#intro{
    background: url("../img/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    justify-content: center;
    display: grid;
    grid-template-rows: (3,1fr);

    /* grid-auto-rows: (300px); */
    

    grid-template-areas: 

    ". . ."
    ". a ."
    ". . ."
    ;
}

#intro2{
    background: url("../img/bg1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    display: grid;
    grid-template-rows: (3fr);

    /* grid-auto-rows: (300px); */
    

    grid-template-areas: 
    ". . . "
    ". a ."
    /* "a a a"
    ". . ." */
    ;
}

.content{
    grid-area: a;
    align-self: center;
    justify-self: centere;
    text-align: center;
}

.content2{
    grid-area: a;
    align-self: center;
    justify-self: centere;
    text-align: center;
}